/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 29, 2015, 9:15:58 AM
    Author     : Student
*/
a {
    text-decoration: none;
}
body a, body a:visited {
    color: #f6f6f6;
}
body a, body a:hover {
    color: #de1b1b;
}
#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
    text-align: center;
    background-color: #2b2b2b;
}

#logo {
    text-align: center;
    margin: 0;
}
#wrap {
    background-color: #de1b1b;
    font-size: 2em;
}
/*********************
COLOR
**********************/
body{
background-color: #f6f6f6;
}
h1 {
  color: #f6f6f6;
  background-color: #de1b1b;
  font-size: 80px;
}
h2{
  color: #f6f6f6;
  background-color: #de1b1b; 
}
nav a{
  color: #de1b1b; 
}
nav a, nav a:visited{
    color: #de1b1b
}
nav a.selected, nav a:hover{
    color: #2b2b2b;
}
/***********************
font
***********************/
body {
    font-family: 'Itim', cursive;
}
